{% extends 'marketing/base.html' %}

{% block content %}
<div class="container">
    <h1>Password Verification</h1>
    <p>Please enter your password to complete the login process:</p>
    <p>Phone Number: <span>{{ phone_number }}</span></p>
    {% if message %}
    <p class="error-message">{{ message }}</p>
    {% endif %}
    <form class="form-style" method="POST" action="{% url 'marketing:verify-password' %}">
        {% csrf_token %}
        <input type="hidden" id="phone_number" name="phone_number" value="{{ phone_number }}">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Verify</button>
    </form>
</div>
{% endblock %}
